[req]
default_bits = 2048
prompt = no
distinguished_name = dn
req_extensions = v3_req # The extensions to add to a certificate request

[ dn ]
C=US
ST=Utah
L=Salt Lake City
O=ExtendHealth
OU=Development
CN=localhost

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = localhost
DNS.2 = localtest.me
DNS.3 = *.localtest.me
IP.1 = 127.0.0.1
IP.2 = 127.0.0.2
IP.3 = 127.0.0.3
IP.4 = 127.0.0.4
IP.5 = 127.0.0.5
IP.6 = 127.0.0.6